<div class="dui-cfg-container">

    {{!-- General Panel --}}
    <div class="dui-cfg-panel active" data-panel="general">
        <div class="dui-cfg-field">
            <label>Max Actions:</label>
            <input type="number" name="maxChoices" value="{{maxChoices}}" min="1" max="6">
        </div>
        <hr class="dui-cfg-divider">
        <div class="dui-cfg-section-title">Rest Recovery Modifiers</div>
        <div class="dui-cfg-field">
            <label>HP Modifier:</label>
            <input type="number" name="hpModifier" value="{{hpModifier}}" min="0" max="10">
        </div>
        <div class="dui-cfg-field">
            <label>Stress Modifier:</label>
            <input type="number" name="stressModifier" value="{{stressModifier}}" min="0" max="10">
        </div>
        <div class="dui-cfg-field">
            <label>Hope Modifier:</label>
            <input type="number" name="hopeModifier" value="{{hopeModifier}}" min="0" max="10">
        </div>
        <div class="dui-cfg-field">
            <label>Armor Slot Modifier:</label>
            <input type="number" name="armorSlotModifier" value="{{armorSlotModifier}}" min="0" max="10">
        </div>
    </div>

    {{!-- Footer --}}
    <div class="dui-cfg-footer">
        <button type="button" class="dui-cfg-save-btn" data-action="saveConfig">
            <i class="fas fa-save"></i> Save
        </button>
    </div>

</div>
