<div class="dui-cfg-container">
    {{!-- Tab Bar --}}
    <nav class="dui-cfg-tab-bar">
        <button type="button" class="dui-cfg-tab active" data-tab="core">Core</button>
        <button type="button" class="dui-cfg-tab" data-tab="craft">Craft</button>
        <button type="button" class="dui-cfg-tab" data-tab="custom">Custom</button>
        <button type="button" class="dui-cfg-tab" data-tab="itemmoves">Item Moves</button>
    </nav>

    {{!-- Core Features Panel --}}
    <div class="dui-cfg-panel active" data-panel="core">
        <div class="dui-core-list" id="dui-core-list">
            {{#each coreFeatures}}
            <div class="dui-core-row" data-index="{{@index}}" data-key="{{this.key}}">
                <span class="dui-core-label">{{this.label}}</span>
                <div class="dui-core-drop {{#if this.itemName}}filled{{else}}empty{{/if}}" data-index="{{@index}}">
                    <i class="fas fa-star"></i>
                    <span class="dui-core-item-name">{{#if this.itemName}}{{this.itemName}}{{else}}Drag Item Here{{/if}}</span>
                </div>
                {{#if this.itemName}}
                <button type="button" class="dui-craft-remove" data-action="removeCoreItem" data-index="{{@index}}" title="Remove item">
                    <i class="fas fa-times"></i>
                </button>
                {{/if}}
                <input type="hidden" name="coreItem_{{@index}}" value="{{this.itemUuid}}">
                <input type="hidden" name="coreKey_{{@index}}" value="{{this.key}}">
                <input type="hidden" name="coreLabel_{{@index}}" value="{{this.label}}">
            </div>
            {{/each}}
        </div>
    </div>

    {{!-- Craft Panel --}}
    <div class="dui-cfg-panel" data-panel="craft">
        <div class="dui-craft-list" id="dui-craft-list">
            {{#each craftEntries}}
            <div class="dui-craft-row" data-index="{{@index}}">
                <div class="dui-craft-drop {{#if this.recipeName}}filled{{else}}empty{{/if}}" data-slot="recipe" data-index="{{@index}}">
                    <i class="fas fa-scroll"></i>
                    <span class="dui-craft-name">{{#if this.recipeName}}{{this.recipeName}}{{else}}Drag Recipe Here{{/if}}</span>
                </div>
                <i class="fas fa-arrow-right dui-craft-arrow"></i>
                <div class="dui-craft-drop {{#if this.craftName}}filled{{else}}empty{{/if}}" data-slot="craft" data-index="{{@index}}">
                    <i class="fas fa-flask"></i>
                    <span class="dui-craft-name">{{#if this.craftName}}{{this.craftName}}{{else}}Drag Crafted Item Here{{/if}}</span>
                </div>
                <button type="button" class="dui-craft-remove" data-action="removeCraftRow" data-index="{{@index}}" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
                <input type="hidden" name="craftRecipe_{{@index}}" value="{{this.recipeUuid}}">
                <input type="hidden" name="craftCraft_{{@index}}" value="{{this.craftUuid}}">
            </div>
            {{/each}}
        </div>
        <button type="button" class="dui-craft-add-btn" data-action="addCraftRow">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    {{!-- Custom Panel --}}
    <div class="dui-cfg-panel" data-panel="custom">
        <div class="dui-custom-list" id="dui-custom-list">
            {{#each customMoves}}
            <div class="dui-custom-row" data-index="{{@index}}">
                <input type="text" class="dui-custom-input" name="customMove_{{@index}}" value="{{this.label}}" maxlength="27" placeholder="Move name...">
                <button type="button" class="dui-craft-remove" data-action="removeCustomRow" data-index="{{@index}}" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            {{/each}}
        </div>
        <button type="button" class="dui-craft-add-btn" data-action="addCustomRow">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    {{!-- Item Moves Panel --}}
    <div class="dui-cfg-panel" data-panel="itemmoves">
        <div class="dui-itemmove-list" id="dui-itemmove-list">
            {{#each itemMoveEntries}}
            <div class="dui-itemmove-row" data-index="{{@index}}">
                <div class="dui-itemmove-drop {{#if this.itemName}}filled{{else}}empty{{/if}}" data-index="{{@index}}">
                    <i class="fas fa-box-open"></i>
                    <span class="dui-itemmove-name">{{#if this.itemName}}{{this.itemName}}{{else}}Drag Item Here{{/if}}</span>
                </div>
                <button type="button" class="dui-craft-remove" data-action="removeItemMoveRow" data-index="{{@index}}" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
                <input type="hidden" name="itemMove_{{@index}}" value="{{this.itemUuid}}">
            </div>
            {{/each}}
        </div>
        <button type="button" class="dui-craft-add-btn" data-action="addItemMoveRow">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    {{!-- Footer --}}
    <div class="dui-cfg-footer">
        <button type="button" class="dui-cfg-save-btn" data-action="saveMovesConfig">
            <i class="fas fa-save"></i> Save
        </button>
    </div>

</div>
